html,
body {

    margin: 0;
    overflow: hidden;
    background: #111;

}

#game {

    width: 100vw;
    height: 100vh;

}

#ui {

    position: absolute;

    inset: 0;

    pointer-events: none;

}

#popup {

    position: absolute;

    width: 720px;

    height: 520px;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    background: #18202a;

    border: 3px solid #49ff8d;

    border-radius: 12px;

    display: flex;

    flex-direction: column;

    box-shadow: 0 0 30px #00ff88;

    pointer-events: auto;

}

.hidden {

    display: none !important;

}

.popup-header {

    height: 60px;

    display: flex;

    align-items: center;

    justify-content: space-between;

    padding: 0 20px;

    color: white;

    font-size: 24px;

    background: #243242;

    border-bottom: 2px solid #49ff8d;

}

#popupContent {

    flex: 1;

    padding: 25px;

    color: white;

    overflow: auto;

}

#closePopup {

    background: crimson;

    color: white;

    border: none;

    width: 35px;

    height: 35px;

    cursor: pointer;

    border-radius: 5px;

}